{% extends 'base.html.twig' %}

{% block title %}Електронний лист для скидання пароля надіслано{% endblock %}

{% block body %}
    <div class="row vh-50">
        <div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
            <div class="d-table-cell align-middle">
                <div class="card">
                    <div class="card-body">
                        <p>
                            Якщо обліковий запис, який відповідає вашій електронній пошті, існує, значить, щойно було
                            надіслано
                            електронний лист із посиланням, яке можна використовувати для скидання пароля. Термін дії
                            цього
                            посилання закінчиться через
                            {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'security') }}.
                        </p>
                        <p>Якщо ви не отримали електронного листа, перевірте папку зі спамом або <a
                                    href="{{ path('forgot_password_request') }}">спробуйте ще раз</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
