<h1>Привіт!</h1>

<p>Щоб скинути пароль, перейдіть за наступним посиланням</p>

<a href="{{ url('reset_password', {token: resetToken.token}) }}">{{ url('reset_password', {token: resetToken.token}) }}</a>

<p>Термін дії цього посилання закінчиться через {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

<p>Здоров'я!</p>
