{% extends 'base.html.twig' %}

{% block title %}Авторизація{% endblock %}

{% block body %}
    <div class="row vh-50">
        <div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
            <div class="d-table-cell align-middle">

                <div class="text-center mt-4">
                    <h1 class="h2">Авторизуйтесь</h1>
                </div>

                <div class="card">
                    <div class="card-body">
                        <div class="m-sm-4">
                            <form method="post">
                                {% if error %}
                                    <div class="invalid-feedback d-block">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                {% endif %}

                                {% if app.user %}
                                    <div class="mb-3">
                                        Ви вже авторизовані як {{ app.user.email }}, <a
                                                href="{{ path('app_logout') }}">Вийти</a>
                                    </div>
                                {% endif %}

                                <div class="mb-3">
                                    <label for="inputUserIdentifier" class="form-label">Логін</label>
                                    <input type="text" value="{{ last_username }}" name="_username"
                                           id="inputUserIdentifier" class="form-control" autocomplete="username"
                                           required autofocus>
                                </div>
                                <div class="mb-3">
                                    <label for="inputPassword" class="form-label">Пароль</label>
                                    <input type="password" name="_password" id="inputPassword" class="form-control"
                                           autocomplete="current-password" required>
                                </div>
                                <div class="mb-3">
                                    <small><a href="{{ path('forgot_password_request') }}">Забули пароль</a></small>
                                </div>
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                                {#
                                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                                See https://symfony.com/doc/current/security/remember_me.html

                                <div class="checkbox mb-3">
                                    <label>
                                        <input type="checkbox" name="_remember_me"> Remember me
                                    </label>
                                </div>
                                #}

                                <button class="btn btn-primary" type="submit">
                                    Увійти
                                </button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
