{% extends 'base.html.twig' %}

{% block title %}Скинути пароль{% endblock %}

{% block body %}
    <div class="row vh-50">
        <div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
            <div class="d-table-cell align-middle">
                <div class="text-center mt-4">
                    <h1 class="h2">Скидання паролю</h1>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="m-sm-4">
                            {% for flashError in app.flashes('reset_password_error') %}
                                <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                            {% endfor %}
                            {{ form_start(requestForm) }}
                            {{ form_row(requestForm.userIdentifier) }}
                            <div class="d-grid gap-2 col-10 mx-auto">
                                <button class="btn btn-primary" type="submit">Надіслати електронний лист для зміни
                                    пароля
                                </button>
                            </div>
                            {{ form_end(requestForm) }}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>ы
{% endblock body %}