{% extends 'base.html.twig' %}

{% block title %}Скинути пароль{% endblock %}

{% block body %}
    <div class="row vh-50">
        <div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
            <div class="d-table-cell align-middle">
                <div class="card">
                    <div class="text-center mt-4">
                        <h1 class="h2">Скинути пароль</h1>
                    </div>
                    <div class="card-body">
                        <div class="m-sm-4">
                            {{ form_start(resetForm) }}
                            {{ form_row(resetForm.plainPassword) }}
                            <button class="btn btn-primary">Підтведити</button>
                            {{ form_end(resetForm) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
