{% extends 'base.html.twig' %}

{% block title %}Головна{% endblock %}

{#{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('main_index') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('main_index') }}
{% endblock %}#}

{% block body %}
    <div class="row vh-50">
        <div class="col-sm-10 col-md-8 col-lg-12 mx-auto d-table h-100">
        </div>
    </div>
{% endblock body %}