{% set r = app.request.attributes.get('_route') %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
{% include('modal.html.twig') %}
{% include 'menuBack.html.twig' %}
<main class="container">
    {% block body %}{% endblock body %}
</main>

{% include 'footer.html.twig' %}
</body>
</html>
