<header class="p-3 bg-light text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <div class="logo-svg">

                </div>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="{{ path('admin_user_list') }}" class="nav-link px-2 text-secondary">Користувачі</a></li>
                {#<li><a href="#" class="nav-link px-2 text-secondary">Карта</a></li>
                <li><a href="#" class="nav-link px-2 text-secondary">Документи</a></li>
                <li><a href="#" class="nav-link px-2 text-secondary">Контакти</a></li>#}
            </ul>

            <div class="text-end">
                <a href="{{ path('app_logout') }}" class="btn btn-outline-dark me-2">Вийти</a>
            </div>
        </div>
    </div>
</header>