{% extends 'baseBack.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('admin_add_user') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('admin_add_user') }}
{% endblock %}

{% block body %}
    <h1 class="h3 mb-3">Створення користувача</h1>

    <div class="row">
        <div class="col-12 col-lg-8 col-xxl-9 ">
            {{ form_start(form, {"attr": {"id": "form"}}) }}
            <div class="row">
                {{ form_widget(form) }}
            </div>
            <button type="submit" class="btn btn-primary">Додати</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock body %}
