{% extends 'baseBack.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('admin_list_user') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('admin_list_user') }}
{% endblock %}

{% block body %}
    <h1 class="h3 mb-3">Користувачі</h1>

    <div class="row">
        <div class="">
            <table id="table" class="table table-striped" style="width:100%">
                <thead>
                <tr>
                    <th>Email</th>
                    <th>Роль</th>
                    <th>ПІБ</th>
                    <th>Дата створення</th>
                    <th>Останній захід</th>
                    <th>Статус</th>
                    <th>Дії</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
{% endblock %}